<!doctype html>
<html class="no-js"
      lang="zxx">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible"
              content="ie=edge">
        <title>#StartNewMe - ERHA</title>

        <link rel="apple-touch-icon"
              sizes="180x180"
              href="./img/icons/apple-touch-icon.png">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="./img/icons/favicon-32x32.png">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="./img/icons/favicon-16x16.png">
        <link rel="manifest"
              href="./img/icons/site.webmanifest">
        <link rel="mask-icon"
              href="./img/icons/safari-pinned-tab.svg"
              color="#5bbad5">
        <meta name="msapplication-TileColor"
              content="#da532c">
        <meta name="theme-color"
              content="#ffffff">

        <meta name="title"
              content="ERHA - #StartNewMe">
        <meta name="description"
              content="Hadapi normal baru dengan kamu yang baru bersama solusi total dari ERHA. Dapatkan semua kebutuhan kesehatan dan perawatan tubuh terbaik hanya untukmu">

        <meta property="og:type"
              content="website">
        <meta property="og:url"
              content="https://startnewme.erha.co.id">
        <meta property="og:title"
              content="ERHA - #StartNewMe">
        <meta property="og:description"
              content="Hadapi normal baru dengan kamu yang baru bersama solusi total dari ERHA. Dapatkan semua kebutuhan kesehatan dan perawatan tubuh terbaik hanya untukmu">
        <meta property="og:image"
              content="https://startnewme.erha.co.id/img/STARTNEWME-og.jpg">
        <meta property="og:image:type"
              content="image/jpeg" />
        <meta property="og:image:width"
              content="1200" />
        <meta property="og:image:height"
              content="630" />
        <meta property="og:image:alt"
              content="ERHA #STARTNEWME" />

        <meta property="twitter:card"
              content="summary_large_image">
        <meta property="twitter:url"
              content="https://startnewme.erha.co.id">
        <meta property="twitter:title"
              content="ERHA - #StartNewMe">
        <meta property="twitter:description"
              content="Hadapi normal baru dengan kamu yang baru bersama solusi total dari ERHA. Dapatkan semua kebutuhan kesehatan dan perawatan tubuh terbaik hanya untukmu">
        <meta property="twitter:image"
              content="https://startnewme.erha.co.id/img/STARTNEWME-og.jpg">
        <meta name="viewport"
              content="width=device-width, initial-scale=1">


        <link rel="stylesheet"
              href="css/bootstrap.min.css">
        <link rel="stylesheet"
              href="css/owl.carousel.min.css">
        <link rel="stylesheet"
              href="css/magnific-popup.css">
        <link rel="stylesheet"
              href="css/font-awesome.min.css">
        <link rel="stylesheet"
              href="css/themify-icons.css">
        <link rel="stylesheet"
              href="css/nice-select.css">
        <link rel="stylesheet"
              href="css/flaticon.css">
        <link rel="stylesheet"
              href="css/gijgo.css">
        <link rel="stylesheet"
              href="css/animate.min.css">
        <link rel="stylesheet"
              href="css/slick.css">
        <link rel="stylesheet"
              href="css/slicknav.css">
        <link rel="stylesheet"
              href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <style>
            .container-iframe {
                position: relative;
                overflow: hidden;
                width: 100%;
                padding-top: 56.25%;
                /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
            }

            /* Then style the iframe to fit in the container div with full height and width */
            .responsive-iframe {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }

            .dna::before {
                background-image: url(../img/erha_dna/dna.jpg);
            }
        </style>
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
                n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '510634116359771');
            fbq('track', 'PageView');
        </script>
        <noscript><img height=""
                 1""
                 width=""
                 1""
                 style=""
                 display:none""
                 src=""
                 https://www.facebook.com/tr?id=510634116359771&ev=PageView&noscript=1"" /></noscript>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async
                src="https://www.googletagmanager.com/gtag/js?id=UA-171507648-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-171507648-1');
        </script>

    </head>

    <body>
        <header>
            <div class="header-area">
                <div id="sticky-header"
                     class="main-header-area">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters mt-3 overflow-hidden">
                            <div class="col-xl-12 col-lg-12 mx-auto">
                                <div class="logo-img text-center align-self-center">
                                    <img src="img/ERHA@3x.png"
                                         class="mx-auto pb-4 lazyload"
                                         style="width: 170px;"
                                         alt="logo-erha">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="slider_area">
            <div class="single_slider d-flex align-items-center align-self-center slider_bg_1">

            </div>
        </div>

        <div class="section py-4 border-0"
             style="background-color: #1f1f1f;">
            <div class="col-12 col-md-11 col-lg-8 mx-auto mt-3 px-4">
                <p class="text-white"> Jangan biarkan semangat untuk mengasah hal baru yang kamu
                    temui saat
                    #dirumahaja membuat tampilan kamu tidak maksimal.</p>
                <p class="text-white">Hadapi normal baru dengan kamu yang baru
                    bersama
                    solusi total dari ERHA. Dapatkan semua kebutuhan kesehatan dan perawatan tubuh terbaik hanya
                    untukmu. </p>

            </div>

        </div>

        <div class="about_area border-0">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-12 d-block d-lg-none">
                        <div class="text-center">
                            <img src="./img/ERHA-Clinic-2.jpg"
                                 class="wow fadeInDown img-fluid mt-4 rounded-border shadow "
                                 data-wow-duration="1s"
                                 data-wow-delay=".3s"
                                 alt="...">
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 mt-3">
                        <div class="about_info pt-0 pb-5">
                            <div class="section_title white_text px-2">
                                <span class="wow fadeInUp"
                                      data-wow-duration="1s"
                                      data-wow-delay=".3s"></span>
                                <h3 class="wow fadeInUp mb-1"
                                    data-wow-duration="1s"
                                    data-wow-delay=".3s">ERHA Clinic Solution</h3>
                                <p class="mid_text wow fadeInUp"
                                   data-wow-duration="1s"
                                   data-wow-delay=".4s">Bersiap menghadapi #NewNormal dengan solusi total untuk
                                    perawatan kulit dan rambut dari klinik kami.</p>
                                <p class="last_text wow fadeInUp"
                                   data-wow-duration="1s"
                                   data-wow-delay=".5s">Semua solusi ini tetap bisa dinikmati #DirumahAja dengan layanan
                                    konsultasi online dan Home Services, Drive Thru, ataupun kunjungan langsung ke
                                    clinic. Kami senantiasa menjaga kebersihan dan menerapkan protokol kesehatan new
                                    normal dengan maksimal untuk kenyamananmu.</p>
                                <a href="https://erha.co.id/crm/crm/klinik/CL0001?utm_source=Microsite&utm_medium=Clinic%20Solution&utm_campaign=%23ERHAdirumahja"
                                   target="_blank"
                                   class="boxed-btn3 wow fadeInUp"
                                   data-wow-duration="1s"
                                   data-wow-delay=".6s">ERHA Clinic Solution</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service_area pt-5"
             style="background-color: #1f1f1f;">
            <div class="container">
                <div class="row justify-content-center mt-4">
                    <div class="col-lg-6">
                        <div class="section_title text-center mb-70 align-content-center">

                            <h3 class="wow fadeInUp text-white"
                                data-wow-duration="1.2s"
                                data-wow-delay=".2s">We Welcome You Back!</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8 text-center">
                        <div class="container-iframe">

                            <iframe class="responsive-iframe"
                                    src="https://www.youtube.com/embed/DHdBiTYntTI?autoplay=1&mute=1&loop=1&playlist=DHdBiTYntTI&modestbranding=1&controls=1&disablekb=0&rel=0"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                                    crossorigin="anonymous"></iframe>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-4"
                         style="height: 100%">
                        <h4 class="text-white mt-3">Sambut normal baru, <br /> dengan kamu yang baru.</h4>
                        <p class="mt-4 text-white text-justify"> Kami berkomitmen tinggi untuk memberikan perawatan
                            yang aman dan nyaman, dengan protokol
                            kesehatan new normal.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="section py-2 bg-white">
            <h1 class="text-center m-0 my-2 font-weight-light"></h1>
        </div>

        <div class="how_we_work_area">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-block d-lg-none">
                        <div class="text-center">
                            <img src="./img/ERHA-Clinic.jpg"
                                 class="wow fadeInDown img-fluid rounded-border shadow mt-4"
                                 data-wow-duration="1s"
                                 data-wow-delay=".3s"
                                 alt="...">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="work_info px-2 pt-4 my-auto">
                            <div class="mt-4">

                                <div class="section_title">
                                    <h3 class="wow fadeInLeft mt-"
                                        data-wow-duration="1s"
                                        data-wow-delay=".3s">ERHA Skin & Hair Care Solution</h3>
                                    <p class="mid_text wow fadeInLeft mb-0"
                                       data-wow-duration="1s"
                                       data-wow-delay=".3s">Kembali produktif saat #NewNormal dengan rangkaian produk
                                        skin & hair care dari ERHA yang memberikan solusi total untuk kebutuhan kulit
                                        dan rambut kamu.</p>
                                    <p class="last_p wow fadeInRight mt-0"
                                       data-wow-duration="1s"
                                       data-wow-delay=".4s">Semua rangkaian produk skin & hair care kami bisa kamu
                                        dapatkan dan diantar langsung kerumahmu, cek produk kami sekarang.</p>
                                </div>
                                <div class="video_watch d-flex align-items-center">
                                    <a href="https://www.erhastore.co.id/?utm_source=Microsite&utm_medium=Skincare%20Solution&utm_campaign=%23ERHAdirumahja"
                                       target="_blank"
                                       class="boxed-btn3 wow fadeInUp"
                                       data-wow-duration="1s"
                                       data-wow-delay=".7s">ERHA Skin & Hair Care Solution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="about_area2 border-0 my-5 py-5"
             style="background-color: #1f1f1f;">
            <div class="container text-dark">
                <div class="row justify-content-end">
                    <div class="col-12 d-block d-lg-none">
                        <div class="text-center">
                            <img src="./img/erha_dna/dna-16-9.jpg"
                                 class="wow fadeInDown img-fluid mt-4 rounded-border shadow "
                                 data-wow-duration="1s"
                                 data-wow-delay=".3s"
                                 alt="...">
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 mt-3">
                        <div class="about_info pt-0 pb-5">
                            <div class="section_title text-dark px-2">
                                <span class="wow fadeInUp"
                                      data-wow-duration="1s"
                                      data-wow-delay=".3s"></span>
                                <h3 class="wow fadeInUp mb-1 text-white"
                                    data-wow-duration="1s"
                                    data-wow-delay=".3s">ERHA Personalised Skincare Solution</h3>
                                <p class="mid_text  text-white wow fadeInUp"
                                   data-wow-duration="1s"
                                   data-wow-delay=".4s">Kenali tipe kulitmu secara lebih dalam menggunakan teknologi AI
                                    dan DNA. Lakukan test secara online dan dapatkan rekomendasi skincare berdasarkan
                                    kebutuhan kulitmu.</p>
                                <a href="https://www.erhadna.co.id/?utm_source=referral&utm_medium=microsite&utm_campaign=startnewme"
                                   target="_blank"
                                   class="boxed-btn3 wow fadeInUp"
                                   data-wow-duration="1s"
                                   data-wow-delay=".6s">ERHA Personalised Skincare Solution</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="app">
            <div class="testimonial_area pb-4 d-none d-sm-none d-md-block">
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h1 class="display-4">Value Pack</h1>
                            </div>
                        </div>
                    </div>

                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="testmonial_active owl-carousel mb-4">
                                    <div v-for="(chunk, index) in value_pack"
                                         :key="index">
                                        <div class="single_carousel">
                                            <div class="single_testmonial text-center">
                                                <div class="row ">
                                                    <div v-for="item in chunk"
                                                         :key="item.id"
                                                         class="col-lg-3 col-10 col-md-4 m-auto">
                                                        <div class="card rounded-top rounded-bottom border-0">
                                                            <img :data-src="item.image"
                                                                 class="card-img-top w-75 align-self-center lazyload"
                                                                 alt="erha"
                                                                 crossorigin="anonymous">
                                                            <div class="card-body">
                                                                <p class="text-dark text-sm">{{item.name}}
                                                                </p>
                                                                <p class="text-dark text-sm mb-0">RP {{item.price}}</p>
                                                                <small class="text-dark text-muted mt-0"><s>
                                                                        {{item.oldPrice}}</s></small>
                                                                <br>
                                                                <a :href="item.link"
                                                                   target="_blank"
                                                                   class="genric-btn info-border radius mt-2">Buy
                                                                    Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="testimonial_area pb-4 d-block d-sm-block d-md-none">
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h1 class="display-4">Value Pack</h1>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="testmonial_active owl-carousel mb-4">
                                    <div v-for="item in value_pack.chunk_1"
                                         :key="item.id"
                                         class="single_carousel">
                                        <div class="single_testmonial text-center">
                                            <div class="row ">
                                                <div class="col-12 m-auto">
                                                    <div class="card rounded-top rounded-bottom border-0">
                                                        <img :data-src="item.image"
                                                             class="card-img-top w-75 align-self-center lazyload"
                                                             alt="erha"
                                                             crossorigin="anonymous">
                                                        <div class="card-body">
                                                            <p class="text-dark text-sm">{{item.name}}
                                                            </p>
                                                            <p class="text-dark text-sm mb-0">RP {{item.price}}
                                                            </p>
                                                            <small class="text-dark text-muted mt-0"><s>
                                                                    {{item.oldPrice}}</s></small>
                                                            <br>
                                                            <a :href="item.link"
                                                               target="_blank"
                                                               class="genric-btn info-border radius mt-2">Buy
                                                                Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-for="item in value_pack.chunk_2"
                                         :key="item.id"
                                         class="single_carousel">
                                        <div class="single_testmonial text-center">
                                            <div class="row ">
                                                <div class="col-12 m-auto">
                                                    <div class="card rounded-top rounded-bottom border-0">
                                                        <img :data-src="item.image"
                                                             class="card-img-top w-75 align-self-center lazyload"
                                                             alt="erha"
                                                             crossorigin="anonymous">
                                                        <div class="card-body">
                                                            <p class="text-dark text-sm">{{item.name}}
                                                            </p>
                                                            <p class="text-dark text-sm mb-0">RP {{item.price}}
                                                            </p>
                                                            <small class="text-dark text-muted mt-0"><s>
                                                                    {{item.oldPrice}}</s></small>
                                                            <br>
                                                            <a :href="item.link"
                                                               target="_blank"
                                                               class="genric-btn info-border radius mt-2">Buy
                                                                Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- VALUE KIT -->
            <div class="testimonial_area pb-4 d-none d-sm-none d-lg-block">
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h1 class="display-4">Value Kit</h1>
                            </div>
                        </div>
                    </div>

                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="testmonial_active owl-carousel mb-4">
                                    <div v-for="(chunk, index) in value_kit"
                                         :key="index">
                                        <div class="single_carousel">
                                            <div class="single_testmonial text-center">
                                                <div class="row ">
                                                    <div v-for="item in chunk"
                                                         :key="item.id"
                                                         class="col-lg-3 col-10 col-md-4 m-auto">
                                                        <div class="card rounded-top rounded-bottom border-0">
                                                            <img :data-src="item.image"
                                                                 class="card-img-top align-self-center lazyload"
                                                                 style="max-width: 425px;"
                                                                 alt="erha">
                                                        </div>
                                                        <div class="card-body">
                                                            <a :href="`https://api.whatsapp.com/send?phone=6281121212121&text=${item.encode_text}`"
                                                               target="_blank"
                                                               class="genric-btn info-border radius mt-2">Contact Us</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="testimonial_area pb-4 d-block d-sm-block d-lg-none">
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h1 class="display-4">Value Kit</h1>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="testmonial_active owl-carousel mb-4">
                                    <div v-for="item in value_kit.chunk_1"
                                         :key="item.id"
                                         class="single_carousel">
                                        <div class="single_testmonial text-center">
                                            <div class="row ">
                                                <div class="col-12 m-auto">
                                                    <div class="card rounded-top rounded-bottom border-0">
                                                        <img :data-src="item.image"
                                                             class="card-img-top w-75 align-self-center lazyload"
                                                             alt="erha">
                                                        <div class="card-body">
                                                            <a :href="`https://api.whatsapp.com/send?phone=6281121212121&text=${item.encode_text}`"
                                                               target="_blank"
                                                               class="genric-btn info-border radius mt-2">Contact Us</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-for="item in value_kit.chunk_2"
                                         :key="item.id"
                                         class="single_carousel">
                                        <div class="single_testmonial text-center">
                                            <div class="row ">
                                                <div class="col-12 m-auto">
                                                    <div class="card rounded-top rounded-bottom border-0">
                                                        <img :data-src="item.image"
                                                             class="card-img-top w-75 align-self-center lazyload"
                                                             alt="erha">
                                                        <div class="card-body">
                                                            <a :href="`https://api.whatsapp.com/send?phone=6281121212121&text=${item.encode_text}`"
                                                               target="_blank"
                                                               class="genric-btn info-border radius mt-2">Contact Us</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-for="item in value_kit.chunk_3"
                                         :key="item.id"
                                         class="single_carousel">
                                        <div class="single_testmonial text-center">
                                            <div class="row ">
                                                <div class="col-12 m-auto">
                                                    <div class="card rounded-top rounded-bottom border-0">
                                                        <img :data-src="item.image"
                                                             class="card-img-top w-75 align-self-center lazyload"
                                                             alt="erha">
                                                        <div class="card-body">
                                                            <a :href="`https://api.whatsapp.com/send?phone=6281121212121&text=${item.encode_text}`"
                                                               target="_blank"
                                                               class="genric-btn info-border radius mt-2">Contact Us</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer_top py-4 bg-light">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="text-center">
                                <img src="img/ERHA@3x.png"
                                     class="align-self-center"
                                     style="width: 170px;"
                                     alt="logo-erha">
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="socail_links">
                                <ul class="text-center mt-4">
                                    <li><a class="wow fadeInUp"
                                           data-wow-duration="1s"
                                           data-wow-delay=".3s"
                                           target="_blank"
                                           href="https://www.youtube.com/user/dearrtha"> <i
                                               class="fa fa-youtube-play"></i> </a></li>
                                    <li><a class="wow fadeInUp"
                                           data-wow-duration="1s"
                                           data-wow-delay=".4s"
                                           target="_blank"
                                           href="https://www.instagram.com/erha.dermatology/"> <i
                                               class="fa fa-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                Copyright &copy; ERHA #StartNewMe
                                <script>document.write(new Date().getFullYear());</script> All rights
                                reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/scrollIt.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/nice-select.min.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/gijgo.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js"
                crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    value_pack: {
                        chunk_1: [
                            {
                                id: 1, name: "TRUWHITE DAILY SERIES + FREE POUCH",
                                link: "https://www.erhastore.co.id/value-pack-truwhite-daily-series", oldPrice: "RP 623,000",
                                price: "484,200", image: "https://www.erhastore.co.id/media/catalog/product/cache/9acef7d1ef9b6ecea35dddea8ea8fdff/t/h/thumbnail-new_pouch-05.jpg"
                            },
                            {
                                id: 2, name: "VALUE PACK ERHA ACTIVE ACNE",
                                link: "https://www.erhastore.co.id/value-pack-erha-active-acne", oldPrice: "RP 226,000",
                                price: "203,400", image: "https://www.erhastore.co.id/media/catalog/product/cache/9acef7d1ef9b6ecea35dddea8ea8fdff/v/a/value_pack_active_acne.jpg"
                            },
                            {
                                id: 3, name: "VALUE PACK ERHAIR SHAMPOO 250ML & TONIC",
                                link: "https://www.erhastore.co.id/erhair-series-1-250", oldPrice: "RP 240,000",
                                price: "216,000", image: "https://www.erhastore.co.id/media/catalog/product/cache/9acef7d1ef9b6ecea35dddea8ea8fdff/v/a/value_pack_erhair_shampoo_250ml_tonic_3.jpg"
                            },
                        ],
                        chunk_2: [
                            {
                                id: 4, name: "AGE CORRECTOR DAILY + FREE POUCH",
                                link: "https://www.erhastore.co.id/age-corrector-daily-free-pouch", oldPrice: "RP 588,000",
                                price: "452,700", image: "https://www.erhastore.co.id/media/catalog/product/cache/9acef7d1ef9b6ecea35dddea8ea8fdff/t/h/thumbnail-new_pouch-13.jpg"
                            },
                            {
                                id: 5, name: "SKIN BARRIER FACIAL WASH & FACE MOISTURIZER",
                                link: "https://www.erhastore.co.id/skin-barrier-facial-wash-moisturizer-free-facial-mask-soothing", oldPrice: "RP 169,850",
                                price: "152,865", image: "https://www.erhastore.co.id/media/catalog/product/cache/9acef7d1ef9b6ecea35dddea8ea8fdff/s/k/skin-barrier-facial-wash-_-moisturizer_1_.jpg"
                            },
                            {
                                id: 6, name: "VALUE PACK HOME PEELING",
                                link: "https://erha.co.id/crm/crm/klinik/CL0001?utm_source=Microsite&utm_medium=Clinic%20Solution&utm_campaign=%23ERHAdirumahja", oldPrice: null,
                                price: "239,500", image: "https://startnewme.erha.co.id/img/product/homevaluepack.png"
                            },

                        ]
                    },
                    value_kit: {
                        chunk_1: [
                            {
                                id: 1, image: "./img/value_kit/value-kit-1.jpg", encode_text: "I'm%20interested%20in%20ERHA's%20Starter%20Kit"
                            },
                            {
                                id: 2, image: "./img/value_kit/value-kit-2.jpg", encode_text: "I'm%20interested%20in%20ERHA's%20Anti%20Aging%20Value%20Kit"
                            }
                        ],
                        chunk_2: [
                            {
                                id: 3, image: "./img/value_kit/value-kit-3.jpg", encode_text: "I'm%20interested%20in%20ERHA's%20Brightening%20Value%20Kit"
                            },
                            {
                                id: 4, image: "./img/value_kit/value-kit-4.jpg", encode_text: "I'm%20interested%20in%20ERHA's%20Acne%20Value%20Kit"
                            }
                        ],
                        chunk_3: [
                            {
                                id: 5, image: "./img/value_kit/value-kit-5.jpg", encode_text: "I'm%20interested%20in%20ERHA's%20Hair%20Grow%20Value%20Kit"
                            }
                        ]
                    }
                }
            });
        </script>
    </body>

</html>